@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background: #F1FAEE;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: linear-gradient(180deg, #457B9D 26.04%, #1D3557 91.15%);
    border-bottom: 4px solid #1D3557;
    padding: 1em;
}

.navbar {
    padding: 0;
}

.navbar2 {
    padding-bottom: 0;
}

.logo {
    width: 18vw;
    margin-left: 15%;
    padding: 0;
    margin: 0;
}

.linkNav {
    font-size: 1vw;
    letter-spacing: 0.3em;
    color: #F1FAEE;
    text-transform: uppercase;
    padding: 0;
}


#autenticarBtn {
    cursor: pointer;
}

.navegador {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.navegador li {
    padding: 0 0.3em;
}

.portada img {
    width: 100vw;
}

.entrada {
    display: flex;
    flex-direction: column;
    margin-top: -8%;
    margin-left: 12%;
    margin-right: 12%;
}

.entrada img {
    padding-left: 2vw;
    width: 25vw;
}

.entrada p {
    font-size: 1vw;
    font-weight: 800;
    color: #1D3557;
    letter-spacing: 2.33679px;
    line-height: 290%;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.botonmio {
    border: none;
    margin-right: 5%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='5 0 20 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='15' stroke-width='3' d='M3 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 600px) {
    .logo {
        width: 40vw;
    }

    .linkNav {
        font-size: 2vw;
        padding-top: 0.5em;
    }

    .navegador {
        display: flex;
        justify-content: center;
        border-top: solid 0.1em #a1282f;
        margin: 0;
    }

    .navbar2 {
        padding: 0;
    }
}

@media (max-width: 991px) and (min-width: 601px) {
    .linkNav {
        font-size: 2vw;
        padding-top: 0.5em;
    }

    .navegador {
        display: flex;
        justify-content: center;
        border-top: solid 0.2em #a1282f;
        margin: 0;
    }

    .navbar2 {
        padding: 0;
    }

    .logo {
        width: 30vw;
    }
}