@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background: #F1FAEE;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: linear-gradient(180deg, #457B9D 26.04%, #1D3557 91.15%);
    border-bottom: 4px solid #1D3557;
    padding: 1em;
}

.navbar {
    padding: 0;
}

.navbar2 {
    padding-bottom: 0;
    padding-top: 0;
}

.logo {
    width: 18vw;
    margin-left: 25%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.linkNav {
    font-size: 1vw;
    letter-spacing: 0.3em;
    color: #F1FAEE;
    text-transform: uppercase;
    transition: transform .2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #F1FAEE;
    background: linear-gradient(180deg, rgba(230, 57, 70, 0.4) 20%, rgba(230, 57, 70, 0.2) 40%, rgba(255, 255, 255, 0) 90%);
    border-radius: 15px;
}


#autenticarBtn {
    cursor: pointer;
}

.navegador {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.navegador li {
    padding: 0 0.2vw;
}

.portada img{
    width: 100%;
}

.imges img{
    width: 100%;
}

.entrada {
    display: flex;
    flex-direction: column;
    margin-top: -8%;
    margin-left: 12%;
    margin-right: 12%;
}

.entrada img {
    padding-left: 2vw;
    width: 20vw;
}

.entrada p {
    font-size: 0.9vw;
    font-weight: 800;
    color: #1D3557;
    letter-spacing: 2.33679px;
    line-height: 290%;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.botonmio {
    border: none;
    margin-right: 5%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='5 0 20 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='15' stroke-width='3' d='M3 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.perroGato {
    position: absolute;
    left: 77%;
    top: 40%;
    max-width: 140px;
    max-height: 140px;
    transition: transform .2s ease-in-out;
}

.perroGato:hover {
    transform: scale(1.2);
    background: radial-gradient(50% 50% at 50% 50%, rgba(69, 123, 157, 0.5) 42.19%, rgba(69, 123, 157, 0) 100%);
    border-radius: 50%;
    cursor: pointer;
}

.botonAdopta {
    letter-spacing: 4.83679px;
    font-weight: 600;
    font-size: 3vw;
    line-height: 4vw;
    background: linear-gradient(180deg, rgba(29, 53, 87, 0.4) 37.98%, rgba(29, 53, 87, 0.2) 83.85%, rgba(29, 53, 87, 0.1) 100%);
    border: 0.2vw solid #1D3557;
    filter: drop-shadow(0px 13px 19px #00000012);
    border-radius: 15px;
    color: #E63946;
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 1% 1.5%;
    transition: transform .2s ease-in-out;
}

.botonAdopta:hover {
    background-color: rgba(29, 53, 87, 0.2) 83.85%;
    transform: scale(1.1);
    color: #E63946;
    border: #1D3557 solid 3px;
}

.botonTransita {
    letter-spacing: 4.83679px;
    font-weight: 600;
    font-size: 3vw;
    line-height: 4vw;
    border-radius: 15px;
    color: #1D3557;
    background: linear-gradient(180deg, rgba(230, 57, 70, 0.4) 24.48%, rgba(230, 57, 70, 0.2) 52.08%, rgba(255, 255, 255, 0) 80.73%);
    border: 0.2vw solid #a1282f;
    filter: drop-shadow(0px 13px 19px rgba(0, 0, 0, 0.07));
    border-radius: 15px;
    position: absolute;
    top: 50%;
    right: 75%;
    padding: 1% 1.5%;
    transition: transform .2s ease-in-out;
}

.botonTransita:hover {
    background-color: rgba(29, 53, 87, 0.2) 83.85%;
    transform: scale(1.1);
    color: #1D3557;
    border: #a1282f solid 3px;
}

@media (max-width: 600px) {
    .logo {
        width: 40vw;
    }

    .linkNav {
        font-size: 2vw;
        padding-top: 1.2em;
        text-align: center;
    }

    .navegador {
        display: flex;
        justify-content: center;
        border-top: solid 0.1em #a1282f;
        margin: 0;
    }

    .navbar2 {
        padding: 0;
    }

    .entrada img {
        width: 35vw;
    }

    .entrada p {
        font-size: 0.8em;
    }

}

@media (max-width: 991px) and (min-width: 601px) {
    .linkNav {
        font-size: 2vw;
        padding-top: 1.2em;
        text-align: center;
    }

    .navegador {
        display: flex;
        justify-content: center;
        border-top: solid 0.2em #a1282f;
        margin: 0;
        padding-bottom: 0.5em;
    }

    .navbar2 {
        padding: 0;
    }

    .logo {
        width: 25vw;
    }

    .entrada img {
        width: 35vw;
    }

    .entrada p {
        font-size: 0.8em;
    }
}